{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>
    <a href="{{ path('app_category') }}" class="btn btn-success">Back to list</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
                <td>
                     <button class="btn btn-primary">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    {# {{ include('category/_delete_form.html.twig') }} #}
{% endblock %}